@layer theme {
  :root,
  :host {
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --color-red-50: #fef2f2;
    --color-red-300: #ffa3a3;
    --color-red-400: #ff6568;
    --color-red-500: #fb2c36;
    --color-red-600: #e40014;
    --color-red-700: #bf000f;
    --color-red-800: #9f0712;
    --color-red-900: #82181a;
    --color-red-950: #460809;
    --color-orange-50: #fff7ed;
    --color-orange-100: #ffedd5;
    --color-orange-300: #ffb96d;
    --color-orange-400: #ff8b1a;
    --color-orange-500: #fe6e00;
    --color-orange-600: #f05100;
    --color-orange-700: #c53c00;
    --color-orange-800: #9f2d00;
    --color-orange-900: #7e2a0c;
    --color-amber-50: #fffbeb;
    --color-amber-100: #fef3c6;
    --color-amber-200: #fee685;
    --color-amber-300: #ffd236;
    --color-amber-400: #fcbb00;
    --color-amber-500: #f99c00;
    --color-amber-600: #dd7400;
    --color-amber-700: #b75000;
    --color-amber-800: #953d00;
    --color-amber-900: #7b3306;
    --color-amber-950: #461901;
    --color-yellow-50: #fefce8;
    --color-yellow-300: #ffe02a;
    --color-yellow-400: #fac800;
    --color-yellow-500: #edb200;
    --color-yellow-600: #cd8900;
    --color-yellow-700: #a36100;
    --color-yellow-800: #874b00;
    --color-yellow-900: #733e0a;
    --color-lime-50: #f7fee7;
    --color-lime-400: #9de500;
    --color-lime-500: #80cd00;
    --color-lime-600: #62a400;
    --color-lime-900: #35530e;
    --color-green-50: #f0fdf4;
    --color-green-100: #dcfce7;
    --color-green-300: #7bf1a8;
    --color-green-400: #05df72;
    --color-green-500: #00c758;
    --color-green-600: #00a544;
    --color-green-700: #008138;
    --color-green-800: #016630;
    --color-green-900: #0d542b;
    --color-green-950: #032e15;
    --color-emerald-100: #d0fae5;
    --color-emerald-400: #00d294;
    --color-emerald-500: #00bb7f;
    --color-emerald-600: #009767;
    --color-emerald-900: #004e3b;
    --color-teal-50: #f0fdfa;
    --color-teal-300: #46ecd5;
    --color-teal-400: #00d3bd;
    --color-teal-500: #00baa7;
    --color-teal-600: #009588;
    --color-teal-700: #00776e;
    --color-teal-800: #005f5a;
    --color-teal-900: #0b4f4a;
    --color-cyan-900: #104e64;
    --color-sky-50: #f0f9ff;
    --color-sky-300: #77d4ff;
    --color-sky-500: #00a5ef;
    --color-sky-600: #0084cc;
    --color-sky-700: #0069a4;
    --color-sky-950: #052f4a;
    --color-blue-50: #eff6ff;
    --color-blue-100: #dbeafe;
    --color-blue-300: #90c5ff;
    --color-blue-400: #54a2ff;
    --color-blue-500: #3080ff;
    --color-blue-600: #155dfc;
    --color-blue-700: #1447e6;
    --color-blue-800: #193cb8;
    --color-blue-900: #1c398e;
    --color-blue-950: #162456;
    --color-violet-50: #f5f3ff;
    --color-violet-300: #c4b4ff;
    --color-violet-400: #a685ff;
    --color-violet-500: #8d54ff;
    --color-violet-600: #7f22fe;
    --color-violet-700: #7008e7;
    --color-violet-800: #5d0ec0;
    --color-violet-900: #4d179a;
    --color-purple-50: #faf5ff;
    --color-purple-300: #d9b3ff;
    --color-purple-400: #c07eff;
    --color-purple-500: #ac4bff;
    --color-purple-600: #9810fa;
    --color-purple-700: #8200da;
    --color-purple-800: #6e11b0;
    --color-purple-900: #59168b;
    --color-purple-950: #3c0366;
    --color-pink-400: #fb64b6;
    --color-pink-500: #f6339a;
    --color-pink-600: #e30076;
    --color-rose-50: #fff1f2;
    --color-rose-300: #ffa2ae;
    --color-rose-400: #ff667f;
    --color-rose-500: #ff2357;
    --color-rose-600: #e70044;
    --color-rose-700: #c20039;
    --color-rose-800: #a30037;
    --color-rose-900: #8b0836;
    --color-slate-50: #f8fafc;
    --color-slate-100: #f1f5f9;
    --color-slate-200: #e2e8f0;
    --color-slate-400: #90a1b9;
    --color-slate-500: #62748e;
    --color-slate-800: #1d293d;
    --color-slate-900: #0f172b;
    --color-slate-950: #020618;
    --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-400: #99a1af;
    --color-gray-500: #6a7282;
    --color-gray-700: #364153;
    --color-gray-800: #1e2939;
    --color-gray-900: #101828;
    --color-gray-950: #030712;
    --color-zinc-50: #fafafa;
    --color-zinc-100: #f4f4f5;
    --color-zinc-200: #e4e4e7;
    --color-zinc-400: #9f9fa9;
    --color-zinc-500: #71717b;
    --color-zinc-800: #27272a;
    --color-zinc-900: #18181b;
    --color-zinc-950: #09090b;
    --color-neutral-50: #fafafa;
    --color-neutral-100: #f5f5f5;
    --color-neutral-200: #e5e5e5;
    --color-neutral-300: #d4d4d4;
    --color-neutral-400: #a1a1a1;
    --color-neutral-500: #737373;
    --color-neutral-600: #525252;
    --color-neutral-700: #404040;
    --color-neutral-800: #262626;
    --color-neutral-900: #171717;
    --color-neutral-950: #0a0a0a;
    --color-stone-50: #fafaf9;
    --color-stone-100: #f5f5f4;
    --color-stone-200: #e7e5e4;
    --color-stone-300: #d6d3d1;
    --color-stone-400: #a6a09b;
    --color-stone-500: #79716b;
    --color-stone-600: #57534d;
    --color-stone-700: #44403b;
    --color-stone-800: #292524;
    --color-stone-900: #1c1917;
    --color-stone-950: #0c0a09;
    --color-black: #000;
    --color-white: #fff;
    --spacing: 0.25rem;
    --breakpoint-2xl: 96rem;
    --container-xs: 20rem;
    --container-sm: 24rem;
    --container-md: 28rem;
    --container-lg: 32rem;
    --container-xl: 36rem;
    --container-2xl: 42rem;
    --container-3xl: 48rem;
    --container-4xl: 56rem;
    --container-5xl: 64rem;
    --container-6xl: 72rem;
    --container-7xl: 80rem;
    --text-xs: 0.75rem;
    --text-xs--line-height: calc(1 / 0.75);
    --text-sm: 0.875rem;
    --text-sm--line-height: calc(1.25 / 0.875);
    --text-base: 1rem;
    --text-base--line-height: calc(1.5 / 1);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: calc(2.25 / 1.875);
    --text-4xl: 2.25rem;
    --text-4xl--line-height: calc(2.5 / 2.25);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --text-7xl: 4.5rem;
    --text-7xl--line-height: 1;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --tracking-tighter: -0.05em;
    --tracking-tight: -0.025em;
    --tracking-widest: 0.1em;
    --leading-tight: 1.25;
    --leading-snug: 1.375;
    --leading-normal: 1.5;
    --leading-relaxed: 1.625;
    --leading-loose: 2;
    --radius-xs: 0.125rem;
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
    --shadow-xl: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
    --ease-out: cubic-bezier(0, 0, 0.2, 1);
    --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --animate-spin: spin 1s linear infinite;
    --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --blur-xs: 4px;
    --blur-sm: 8px;
    --aspect-video: 16/9;
    --default-transition-duration: 0.15s;
    --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-code: var(--code);
    --color-code-foreground: var(--code-foreground);
    --color-code-highlight: var(--code-highlight);
    --color-code-number: var(--code-number);
  }

  @supports (color: lab(0% 0 0)) {
    :root,
    :host {
      --color-red-50: lab(96.5005% 4.18508 1.52328);
      --color-red-300: lab(76.5514% 36.422 15.5335);
      --color-red-400: lab(63.7053% 60.745 31.3109);
      --color-red-500: lab(55.4814% 75.0732 48.8528);
      --color-red-600: lab(48.4493% 77.4328 61.5452);
      --color-red-700: lab(40.4273% 67.2623 53.7441);
      --color-red-800: lab(33.7174% 55.8993 41.0293);
      --color-red-900: lab(28.5139% 44.5539 29.0463);
      --color-red-950: lab(13.003% 29.04 16.7519);
      --color-orange-50: lab(97.7008% 1.53735 5.90649);
      --color-orange-100: lab(94.7127% 3.58394 14.3151);
      --color-orange-300: lab(80.8059% 21.7313 50.4455);
      --color-orange-400: lab(70.0429% 42.5156 75.8207);
      --color-orange-500: lab(64.272% 57.1788 90.3583);
      --color-orange-600: lab(57.1026% 64.2584 89.8886);
      --color-orange-700: lab(46.4615% 57.7275 70.8507);
      --color-orange-800: lab(37.1566% 46.6433 50.5562);
      --color-orange-900: lab(30.2951% 36.0434 37.671);
      --color-amber-50: lab(98.6252% -0.635922 8.42309);
      --color-amber-100: lab(95.916% -1.21653 23.111);
      --color-amber-200: lab(91.7203% -0.505269 49.9084);
      --color-amber-300: lab(86.4156% 6.13147 78.3961);
      --color-amber-400: lab(80.1641% 16.6016 99.2089);
      --color-amber-500: lab(72.7183% 31.8672 97.9407);
      --color-amber-600: lab(60.3514% 40.5624 87.1228);
      --color-amber-700: lab(47.2709% 42.9082 69.2966);
      --color-amber-800: lab(37.8822% 37.1699 52.2718);
      --color-amber-900: lab(31.2288% 30.2627 40.0378);
      --color-amber-950: lab(15.8111% 20.9107 23.3752);
      --color-yellow-50: lab(98.6846% -1.79055 9.7766);
      --color-yellow-300: lab(89.7033% -0.480294 84.4917);
      --color-yellow-400: lab(83.2664% 8.65132 106.895);
      --color-yellow-500: lab(76.3898% 14.5258 98.4589);
      --color-yellow-600: lab(62.7799% 22.4197 86.1544);
      --color-yellow-700: lab(47.8202% 25.2426 66.5015);
      --color-yellow-800: lab(38.7484% 23.5833 51.4916);
      --color-yellow-900: lab(32.3865% 21.1273 38.5959);
      --color-lime-50: lab(98.7039% -5.32573 10.2149);
      --color-lime-400: lab(83.7876% -45.0447 88.4738);
      --color-lime-500: lab(75.3197% -46.6547 86.1778);
      --color-lime-600: lab(61.1055% -41.0235 73.1483);
      --color-lime-900: lab(31.9931% -20.7654 33.7379);
      --color-green-50: lab(98.1563% -5.60117 2.75915);
      --color-green-100: lab(96.1861% -13.8464 6.52365);
      --color-green-300: lab(86.9953% -47.2691 25.0054);
      --color-green-400: lab(78.503% -64.9265 39.7492);
      --color-green-500: lab(70.5521% -66.5147 45.8073);
      --color-green-600: lab(59.0978% -58.6621 41.2579);
      --color-green-700: lab(47.0329% -47.0239 31.4788);
      --color-green-800: lab(37.4616% -36.7971 22.9692);
      --color-green-900: lab(30.797% -29.6927 17.382);
      --color-green-950: lab(15.6845% -20.4225 11.7249);
      --color-emerald-100: lab(94.9004% -17.0769 5.63836);
      --color-emerald-400: lab(75.0771% -60.7313 19.4147);
      --color-emerald-500: lab(66.9756% -58.27 19.5419);
      --color-emerald-600: lab(55.0481% -49.9246 15.93);
      --color-emerald-900: lab(28.8637% -26.9249 5.45986);
      --color-teal-50: lab(98.3189% -4.74921 -0.111711);
      --color-teal-300: lab(84.8977% -48.1516 -1.3321);
      --color-teal-400: lab(76.0109% -53.3483 -2.27906);
      --color-teal-500: lab(67.3859% -49.0983 -2.63511);
      --color-teal-600: lab(55.0223% -41.0774 -3.90277);
      --color-teal-700: lab(44.4134% -33.1436 -4.22149);
      --color-teal-800: lab(35.5975% -26.6648 -4.34487);
      --color-teal-900: lab(29.506% -21.4706 -3.59886);
      --color-cyan-900: lab(30.372% -13.1853 -18.7887);
      --color-sky-50: lab(97.3623% -2.33802 -4.13098);
      --color-sky-300: lab(80.3307% -20.2945 -31.385);
      --color-sky-500: lab(63.3038% -18.433 -51.0407);
      --color-sky-600: lab(51.7754% -11.4712 -49.8349);
      --color-sky-700: lab(41.6013% -9.10804 -42.5647);
      --color-sky-950: lab(17.8299% -5.31271 -21.1584);
      --color-blue-50: lab(96.492% -1.14644 -5.11479);
      --color-blue-100: lab(92.0301% -2.24757 -11.6453);
      --color-blue-300: lab(77.5052% -6.4629 -36.42);
      --color-blue-400: lab(65.0361% -1.42065 -56.9802);
      --color-blue-500: lab(54.1736% 13.3369 -74.6839);
      --color-blue-600: lab(44.0605% 29.0279 -86.0352);
      --color-blue-700: lab(36.9089% 35.0961 -85.6872);
      --color-blue-800: lab(30.2514% 27.7853 -70.2699);
      --color-blue-900: lab(26.1542% 15.7545 -51.5504);
      --color-blue-950: lab(15.6723% 8.86232 -32.2945);
      --color-violet-50: lab(96.2416% 2.28849 -5.51657);
      --color-violet-300: lab(76.7419% 18.3911 -37.0706);
      --color-violet-400: lab(62.8239% 34.9159 -60.0512);
      --color-violet-500: lab(49.9355% 55.1776 -81.8963);
      --color-violet-600: lab(41.088% 68.9966 -91.995);
      --color-violet-700: lab(35.2783% 67.9912 -88.793);
      --color-violet-800: lab(29.3188% 57.7986 -76.1493);
      --color-violet-900: lab(24.3783% 45.7525 -61.4902);
      --color-purple-50: lab(97.1627% 2.99937 -4.13398);
      --color-purple-300: lab(78.3298% 26.2195 -34.9499);
      --color-purple-400: lab(63.6946% 47.6127 -59.2066);
      --color-purple-500: lab(52.0183% 66.11 -78.2316);
      --color-purple-600: lab(43.0295% 75.21 -86.5669);
      --color-purple-700: lab(36.1758% 69.8525 -80.0381);
      --color-purple-800: lab(30.6017% 56.7637 -64.4751);
      --color-purple-900: lab(24.9401% 45.2703 -51.2728);
      --color-purple-950: lab(14.8253% 38.9005 -44.5861);
      --color-pink-400: lab(64.5597% 64.3615 -12.7988);
      --color-pink-500: lab(56.9303% 76.8162 -8.07021);
      --color-pink-600: lab(49.5493% 79.8381 2.31768);
      --color-rose-50: lab(96.2369% 4.94155 1.28011);
      --color-rose-300: lab(76.6339% 38.3549 9.68835);
      --color-rose-400: lab(64.4125% 63.0291 19.2068);
      --color-rose-500: lab(56.101% 79.4328 31.4532);
      --color-rose-600: lab(49.1882% 81.577 36.0311);
      --color-rose-700: lab(41.1651% 71.6251 30.3087);
      --color-rose-800: lab(34.6481% 60.802 20.1957);
      --color-rose-900: lab(29.7104% 51.514 12.6253);
      --color-slate-50: lab(98.1434% -0.369519 -1.05966);
      --color-slate-100: lab(96.286% -0.852436 -2.46847);
      --color-slate-200: lab(91.7353% -0.998765 -4.76968);
      --color-slate-400: lab(65.5349% -2.25151 -14.5072);
      --color-slate-500: lab(48.0876% -2.03595 -16.5814);
      --color-slate-800: lab(16.132% -0.318035 -14.6672);
      --color-slate-900: lab(7.78673% 1.82345 -15.0537);
      --color-slate-950: lab(1.76974% 1.32743 -9.28855);
      --color-gray-50: lab(98.2596% -0.247031 -0.706708);
      --color-gray-100: lab(96.1596% -0.0823438 -1.13575);
      --color-gray-200: lab(91.6229% -0.159115 -2.26791);
      --color-gray-400: lab(65.9269% -0.832707 -8.17473);
      --color-gray-500: lab(47.7841% -0.393182 -10.0268);
      --color-gray-700: lab(27.1134% -0.956401 -12.3224);
      --color-gray-800: lab(16.1051% -1.18239 -11.7533);
      --color-gray-900: lab(8.11897% 0.811279 -12.254);
      --color-gray-950: lab(1.90334% 0.278696 -5.48866);
      --color-zinc-50: lab(98.26% 0 0);
      --color-zinc-100: lab(96.1634% 0.0993311 -0.364041);
      --color-zinc-200: lab(90.6853% 0.399232 -1.45452);
      --color-zinc-400: lab(65.6464% 1.53497 -5.42429);
      --color-zinc-500: lab(47.8878% 1.65477 -5.77283);
      --color-zinc-800: lab(15.7305% 0.613764 -2.16959);
      --color-zinc-900: lab(8.30603% 0.618205 -2.16572);
      --color-zinc-950: lab(2.51107% 0.242703 -0.886115);
      --color-neutral-50: lab(98.26% 0 0);
      --color-neutral-100: lab(96.52% -0.0000298023 0.0000119209);
      --color-neutral-200: lab(90.952% 0 -0.0000119209);
      --color-neutral-300: lab(84.92% 0 -0.0000119209);
      --color-neutral-400: lab(66.128% -0.0000298023 0.0000119209);
      --color-neutral-500: lab(48.496% 0 0);
      --color-neutral-600: lab(34.924% 0 0);
      --color-neutral-700: lab(27.036% 0 0);
      --color-neutral-800: lab(15.204% 0 -0.00000596046);
      --color-neutral-900: lab(7.78201% -0.0000149012 0);
      --color-neutral-950: lab(2.75381% 0 0);
      --color-stone-50: lab(98.2686% -0.0991821 0.364304);
      --color-stone-100: lab(96.5286% -0.0991821 0.364268);
      --color-stone-200: lab(91.055% 0.663072 0.865579);
      --color-stone-300: lab(84.7909% 0.928015 1.59738);
      --color-stone-400: lab(66.2166% 1.88044 3.20326);
      --color-stone-500: lab(48.1164% 2.35701 4.26852);
      --color-stone-600: lab(35.5168% 1.08604 4.07829);
      --color-stone-700: lab(27.3812% 1.32917 3.57789);
      --color-stone-800: lab(15.0353% 1.96067 1.53427);
      --color-stone-900: lab(9.03835% 1.15298 1.92955);
      --color-stone-950: lab(2.86037% 0.455312 0.568903);
    }
  }
}
